@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 220 85% 2%;
    --foreground: 210 40% 98%;
    --card: 220 85% 2%;
    --card-foreground: 210 40% 98%;
    --popover: 220 85% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 50% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 50% 10%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 50% 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 50% 10%;
    --input: 217 50% 10%;
    --ring: 224 76% 48%;
    --chart-1: 217 91% 60%;
    --chart-2: 271 91% 65%;
    --chart-3: 31 91% 65%;
    --chart-4: 169 91% 45%;
    --chart-5: 338 91% 65%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}